html{
    box-sizing: border-box;
    height:100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    /*background-color: rgba(166, 168, 167, 0.5);*/
    background-color: whitesmoke;

}
/*.wrapper {*/
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    /*margin: 0 auto -55px; !* negative of footer height *!*/
/*}*/
/*.bumper { height: 55px; } !* footer height *!*/
/*footer { height: 55px; width: 100%; }*/

/********************************************************/
.content-wrap{
   /* negative of footer height */
    /*max-width: 1500px;*/
    margin: 0 auto;
    margin-top: 110px;
    /*display: flex;*/
    /*align-items: center;*/
    display: block;
    text-align: center;
}


.col{
    float: left;
    overflow: hidden;
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
}
.five-col {
    width: 20%;
}

.four-col {
    width: 25%;
}

.two-col{
    width: 50%;
}

.col:after, .col:before{
    clear:both;
    content: "";
    /*display: table;*/
}


.row {
    margin: auto;
    clear: both;
    height: 50%;
}


.error{
    color: rgb(255,0,0);
    display: none;
}

.div-title{
    font-size: 2.5em;
    text-transform: uppercase;
    /*font-family: 'museo_sans700', sans-serif;*/
    margin:30px;
    text-align: center;
    color: rgb(100,100,100);
    font-weight: 800;

}