#feedback-form-input input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#feedback-form-input input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#feedback-form-input input[type=submit]:hover {
    background-color: #45a049;
}
#feedback-form-input h1{
    text-align: center;
    font-size: 2.5em;

}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.content{
    margin: 50px;
    text-align: left;
}