.food-info{
    position: relative;
    margin: 10px;
    padding:10px;
    background-color: rgba(127,127,127,0.1);
    box-shadow: 3px 3px 1px #dfdfdf;
}

.food-info:hover{
    border-style: solid;
    border-color: darkgray;
    border-width: medium;
}
.img-thumbnail{
    /*width: 280px;*/
    /*height: 210px;*/
    /*overflow: hidden;*/
    background-image: url('../asset/error.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: left;
    /*display: table;*/
    /*width: 100%;*/
    height: 60%;
    max-height: 300px;
    position:relative;

    /*transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94),opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),-webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);*/

}

.badge-info {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    height: 50px;
    background: #dcd4d9;
    font-weight: 500;
    font-size: 1.4rem;
    color: #333;
    padding: 8px 12px;
}
.badge-info .label{
    text-align: center;
    font-size: .8rem;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.tag {
    color: #fff;
    background-color: #d70f64;
    height: 24px;
    padding: 0 16px;
    position: absolute;
    z-index: 3;
    top: 16px;
    left: 0;
    line-height: 24px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}


.content-centered {
    margin: auto;
    display: inline-block;
}

.food-name{
    text-align: left;
    margin: 10px 0px 0px 0px;
    color: red;
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
    margin: 0;
    line-height: 1.3em;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 4px 16px 4px 0;
}

.food-price{
    text-align: left;
    color: orange;
    font-size: 2em;
    font-weight: 800;
    vertical-align: bottom;
    margin-right: 10px;
}
