html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    max-width: 90%;

}
/**********************     Navigation bar      *******************/
nav {
    text-align: center;
    background: rgba(10, 14, 21, 0.58);
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

/*Search bar */
.searchbar{
    font-size: 0;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-btn{
    background-color: #3d3f3e;
    color: white;
    padding: 16px;
    font-size: 16px;
    min-width: 150px;
    border: none;
    cursor: pointer;
    position: relative;
}

.dropdown-btn span{
    position: absolute;
    right: 5px;
}
.dropdown-btn:hover, .dropdown-btn:focus {
    background-color: #898588;
}

.dropdown-content{
    display: none;
    font-size: 16px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span{
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content span:hover {
    background-color: #f1f1f1;
}

.show {display:block;}

.inputbar{
    display: inline-block;
}

#search-input{
    padding: 16px;
    min-width: 500px;
    font-size: 14px;
}
#search-btn{
    padding: 16px;
}
#search-btn div{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/********************************************************/
.content-wrap{

    /*max-width: 1500px;*/
    margin: 20px auto;
    /*display: flex;*/
    /*align-items: center;*/

    text-align: center;
}
.hero-wrap{

}

.hero-image{
    background-image: url('../asset/theme.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: left;
    /*display: table;*/
    /*width: 100%;*/
    height: 100%;
    position:relative;

}


.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 247, 252);

}

.herotext h1{
    font-size: 2em;
}



/* Slideshow container */
* {box-sizing:border-box}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 320px;
    /*background-color: red;*/
}

.myslider {
    display: none;
}

.prev, .next{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top:-22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 10px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.caption {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/*.dot {*/
/*cursor:pointer;*/
/*height: 15px;*/
/*width: 15px;*/
/*margin: 0 2px;*/
/*background-color: #bbb;*/
/*border-radius: 50%;*/
/*display: inline-block;*/
/*transition: background-color 0.6s ease;*/
/*}*/

.active, .dot:hover {
    background-color: #717171;
}


.img-slider{
    overflow: hidden;
    background-image: url('../asset/error.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: left;
    height: 300px;
    position:relative;
    margin: 10px;
}
.img-slider:hover{
    opacity: 0.7;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.row {
    margin: auto;
    clear: both;

}

.col{
    float: left;
    overflow: hidden;
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
}
.five-col {
    width: 20%;
}

.four-col {
    width: 25%;
}

.col:after, .col:before{
    clear:both;
    content: "";
    /*display: table;*/
}
.food-info{
    position: relative;
    margin: 20px;
}

.food-info:hover{
    border-style: solid;
    border-color: darkgray;
    border-width: medium;
}
.img-thumbnail{
    /*width: 280px;*/
    /*height: 210px;*/
    /*overflow: hidden;*/
    background-image: url('../asset/error.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: left;
    /*display: table;*/
    /*width: 100%;*/
    height: 250px;
    max-height: 300px;
    position:relative;

    /*transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94),opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),-webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);*/

}

.badge-info {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    height: 50px;
    background: #dcd4d9;
    font-weight: 500;
    font-size: 1.4rem;
    color: #333;
    padding: 8px 12px;
}
.badge-info .label{
    text-align: center;
    font-size: .8rem;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.tag {
    color: #fff;
    background-color: #d70f64;
    height: 24px;
    padding: 0 16px;
    position: absolute;
    z-index: 3;
    top: 16px;
    left: 0;
    line-height: 24px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}


.content-centered {
    margin: auto;
    display: inline-block;
}


.five-col h3{
    text-align: left;
    margin: 0px;
    color: red;
    text-transform: uppercase;
}

.five-col h1{
    text-align: left;
    color: orange;
    margin: 0px;
}

.five-col button{
    color: orange;
    position: absolute;
    bottom: 0;
    right: 0;
}
