form {
    border: 3px solid #f1f1f1;
}

button:hover {
    opacity: 0.8;
}
.inputLoginForm{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#loginbtn {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
.login-form {
    width: 50%;
    margin: auto;
}

.imgcontainer {
    text-align: center;
    margin: 20px auto;
}

img.avatar {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.error{
    color: rgb(255,0,0);
    display: none;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
}

span{
    vertical-align: middle;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}