/**********************     Navigation bar      *******************/
nav {


}
.navbar-wrapper{
    text-align: center;
    background: rgb(50, 50, 50);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    display:block;
    padding-bottom: 15px;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

/*Search bar */
.searchbar{
    font-size: 0;
}
.dropdown{
    position: relative;
    display: inline-block;
    z-index: 10;
}
.moved-down{
    position: absolute;
    top: 40px;
}
.dropdown-btn{
    background-color: #3d3f3e;
    color: white;
    padding: 16px;
    font-size: 16px;
    min-width: 150px;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left:2px;
    /*border-left: #ded8dc;*/
    /*border-left-style: solid;*/
    /*border-right-style: solid;*/
    /*border-width: thin;*/
}

.dropdown-btn span{
    position: absolute;
    right: 5px;
}
.dropdown-btn:hover, .dropdown-btn:focus {
    background-color: #898588;
}

.dropdown-content{
    display: none;
    font-size: 16px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span{
    color: black;
    padding: 16px 16px;
    display: block;
}

.dropdown-content span:hover {
    background-color: #f1f1f1;
}

.show {display:block;}

.inputbar{
    display: inline-block;
}

#search-input{
    padding: 16px;
    min-width: 500px;
    font-size: 13px;
}
#search-btn{
    padding: 16px;
}
#search-btn div{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#search-result{
    display: block;
    font-size: 16px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    max-height: 160px;
}
.search-result-item{
    color: black;
    padding: 16px 16px;
    text-align: left;
    display: block;
}