input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.error{
    color: rgb(255,0,0);
    display: none;
}

#signupbtn {
    float: left;
    width: 50%;
}

.regis-form {
    width: 50%;
    margin: auto;

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
}